server:
  port: 8866
spring:
  application:
    name: tulingmall-product

  datasource:
    dynamic:
      primary: goods

mybatis:
  mapper-locations:
    - classpath*:com/**/mapper/*.xml
    - classpath:dao/*.xml
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl


#seata 配置
seata:
  application-id: tulingmall-product
  # seata 服务分组，要与服务端配置service.vgroup_mapping的后缀对应
  tx-service-group: tuling-order-group
  registry:
    # 指定nacos作为注册中心
    type: nacos
    nacos:
      application: seata-server
      server-addr: 192.168.65.103:8848
      group: SEATA_GROUP

  config:
    # 指定nacos作为配置中心
    type: nacos
    nacos:
      server-addr: 192.168.65.103:8848
      namespace: 7e838c12-8554-4231-82d5-6d93573ddf32
      group: SEATA_GROUP
      data-id: seataServer.properties


